
<!-- Navbar / Header -->
<header class="header d-flex align-items-center fixed-top">

  {% include "includes/flashes.html" %}
 

  <div
    class="header-container container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <!-- Logo -->
    <a
      href="{{ url_for('admin_profile') }}"
      class="logo d-flex align-items-center text-decoration-none"
    >
      <i class="fas fa-hand-holding-heart me-2 text-danger fs-3 me-2"></i>
      <h1 class="sitename m-0 fw-bold">Foundation System</h1>
    </a>

    
    
      </a>
      

      {% if Profile %}
    <div class="d-flex align-items-center gap-2">
      <a
        href="{{ url_for('admin_update_profile') }}"
        class="nav-link fw-semibold navmenu-link"
      >
        Profile
      </a>
      {% endif %}

      {% if Dashboard %}
    <div class="d-flex align-items-center gap-2">
      <a
        href="{{ url_for('admin_profile') }}"
        class="nav-link fw-semibold navmenu-link"
      >
        DashBoard
      </a>
      {% endif %}

      <!-- Login Dropdown -->
      <div class="user-menu dropdown">
        <a href="{{ url_for('admin_logout') }}" class="btn btn-danger px-4 py-2">
          <i class="fa fa-sign-in-alt me-2"></i>Logout
        </a>
      </div>
    </div>
  </div>
</header>



