
<header class="header d-flex align-items-center fixed-top">
{% include "includes/flashes.html" %}
  <div
    class="header-container container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <!-- <a
      href="{{ url_for('user_profile') }}"
      class="logo d-flex align-items-center me-auto me-xl-0"
    > -->
    <a
      href="{{ url_for('user_profile') }}"
      class="logo"
      style="display: flex; align-items: center; text-decoration: none"
    >
      <i
        class="fas fa-hand-holding-heart me-2"
        style="color: #dc3545; font-size: 24px; margin-right: 8px"
      ></i>
      <h1
        class="sitename"
        style="margin: 0; font-weight: bold; color: white; font-size: 20px"
      >
        Foundation System
      </h1>
    </a>

    <nav class="navmenu">
      {% if details %}
      <ul>
        <li><a href="{{url_for('user_profile')}}" class="">Home</a></li>
        <!-- <li><a href="#htu">Information</a></li>
        <li><a href="#prediction">Prediction</a></li>
        <li><a href="#about">About</a></li> -->
      </ul>
      {% endif %}
    </nav>

    {%if show_pp %}
    <div class="user-menu d-flex align-items-center quick-mode-home">
  <div class="user-info d-flex align-items-center gap-1">
    <div class="avatar">
      <a href="{{ url_for('user_settings') }}">
        {% if session.get('picture') %}
        <img src="{{ url_for('static', filename=session.picture) }}" alt="Profile" />
        {% else %}
        <span>{{ session.username[0]|upper }}</span>
        {% endif %}
      </div>
      <span style="color: white;">Profile</span>
    </a>
  </div>
   {% endif %}

  
  <!-- <a href="{{ url_for('user_profile') }}" class="navmenu-link">Home</a> -->
  

  <a href="{{ url_for('user_logout') }}" class="btn-getstarted">Logout</a>
</div>


</header>


