<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Donation</title>
    <link rel="stylesheet" href={{ url_for('static', filename='assets/css/style.css')}}>
</head>
<body>
    <header>
        <h1>Add Donation</h1>
        <a href="{{ url_for('index')}}">Back to Dashboard</a>
    </header>

    <main>
        <form id="donationForm" method="POST" action="{{ url_for('add_donation')}}">
            <label for="donor">Select Donor:</label>
            <select id="donor" name="donor_id" required>
                <option value="">--Select Donor--</option>
                 {% for donor in donors %}
    <option value="{{ donor.id }}">{{ donor.name }}</option>
    {% endfor %}
            </select>

            <label for="amount">Donation Amount:</label>
            <input type="number" id="amount" name="amount" required>

            <label for="date">Donation Date:</label>
            <input type="date" id="date" name="donation_date" required>

            <button type="submit">Add Donation</button>
        </form>
        <div id="message"></div>
    </main>

    <script src="{{ url_for('static', filename='assets/js/script.js')}}"></script>
</body>
</html>